<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/csstyle.css') }}">
    <meta charset="utf-8">
 <div class="topnav">
        <a href="http://localhost:5000/index.html">Home</a>
        <a class="active" href="http://localhost:5000/investors">Investors</a>
        <a href="http://localhost:5000/portfolios">Portfolios</a>
        <a href="http://localhost:5000/etfs">ETFs</a>
        <a href="http://localhost:5000/stocks">Stocks</a>
        <a href="http://localhost:5000/orders">Orders</a>
</div>
    <title>Investors</title>
</head>
<body>

    <h1>Investors</h1>

<div class="ordert">
    <div class="search">
        <input type="text" class="searchTerm" placeholder="Search by Stock Symbol">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <table>
        <tr>
            <th>Investor ID</th>
            <th>Portfolio ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>


        </tr>
        <tr>
            <td>1</td>
            <td>001</td>
            <td>Orel</td>
            <td>Borry</td>
            <td>orel.borry@bestemail.com</td>
            <td><button class="tablebtnc">Delete</button> </td>
        </tr>
        <tr>
            <td>2</td>
            <td>002</td>
            <td>Lucas</td>
            <td>Yehuda</td>
            <td>lucas.yehuda@bestemail.com</td>
            <td><button class="tablebtnc">Delete</button> </td>
        </tr>
        <tr>
            <td>3</td>
            <td>003</td>
            <td>David</td>
            <td>Ostroff</td>
            <td>david.ostroff@bestemail.com</td>
            <td><button class="tablebtnc">Delete</button> </td>
        </tr>
    </td>
</tr>
</table>
</div>

    <button align="center" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">New Investor</button>

    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/action_page.php">
        <div class="container">
          <hr>

          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>

          <label for="fname"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="fname" required>

          <label for="lname"><b>Last Name</b></label>
          <input type="text" placeholder="Last First Name" name="lname" required>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Submit</button>
        </div>
    </div>
</form>
</div>


<script>
    var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
}
}
</script>
</body>
</html>


