<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/csstyle.css') }}">
    <meta charset="utf-8">
 <div class="topnav">

        <a href="http://localhost:5000/index.html">Home</a>
        <a href="http://localhost:5000/investors">Investors</a>
        <a href="http://localhost:5000/portfolios">Portfolios</a>
        <a href="http://localhost:5000/etfs">ETFs</a>
        <a href="http://localhost:5000/stocks">Stocks</a>
        <a class="active" href="http://localhost:5000/orders">Orders</a>
</div>
    <title>Order History</title>
</head>
<body>

    <h1>Order History</h1>

<div class="ordert">

    <form class="modal-content" method="POST">
        <label for="searchby">Sort By:</label>
          <select name="searchby" id="searchby" class="sortselect">
            <option value="orderID">Order ID</option>
            <option value="date">Date</option>
            <option value="portID">Portfolio ID</option>
            <option value="ostat">Order Status</option>
          </select>
          <br><br>
            <button type="submit" class="signupbtn">Sort</button>
        </form>
    <table>
            <thead>
                <tr>
    <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in order_rows[0].keys() %}

    <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

        <!-- Now, iterate through every stock in stock_rows -->
        {% for order in order_rows %}
        <tr>
            <!-- Then iterate through every key in the current stock dictionary -->
            {% for key in order.keys() %}

            <!-- Create a <td> element with the value of that key in it -->
                <td>{{order[key]}} </td>
                {% endfor %}
                <td><button class="tablebtn">Update</button> </td>
                <td><button class="tablebtnc">Delete</button> </td>

            </tr>
            {% endfor %}

        </table>
</div>

<button align="center" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">New Order</button>

    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
       <form class="modal-content" action="/add_order" method="POST">
        <div class="container">
          <hr>

          <label for="pid"><b>Portfolio ID</b></label>
          <input type="text" placeholder="Enter the Portfolio ID" name="pid" required>

          <label for="osym"><b>Stock SYM</b></label>
          <input type="text" placeholder="Enter the Stock SYM" name="stocksym" required>

          <label for="otype">Buy/Sell</label>
          <select name="otype" id="otype">
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
          </select>
          <br><br>
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Submit</button>
            <hr>
        </div>
    </div>
</form>
</div>


<script>
    var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
}
}
</script>
</body>
</html>