<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/csstyle.css') }}">
  <meta charset="utf-8">
  <div class="topnav">
    <a href="http://localhost:5000/index.html">Home</a>
    <a href="http://localhost:5000/investors">Investors</a>
    <a class="active" href="http://localhost:5000/portfolios">Portfolios</a>
    <a href="http://localhost:5000/etfs">ETFs</a>
    <a href="http://localhost:5000/stocks">Stocks</a>
    <a href="http://localhost:5000/orders">Orders</a>
</div>
<title>Portfolios</title>
</head>
<body>
  <body>
    <h1>Portfolio Page</h1>

            <div class="search">
        <input type="text" class="searchTerm" placeholder="Search by Portfolio ID">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
            
            <button type="submit" class="searchbtn">Find Portfolio</button> 
        </div>
    
   <table>
            <thead>
                <tr>
    <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in portfolio_rows[0].keys() %}

    <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

        <!-- Now, iterate through every portfolio in stock_rows -->
        {% for portfolio in portfolio_rows %}
        <tr>
            <!-- Then iterate through every key in the current portfolio dictionary -->
            {% for key in portfolio.keys() %}

            <!-- Create a <td> element with the value of that key in it -->
                <td>{{portfolio[key]}} </td>
                {% endfor %}
                <td><button class="tablebtn">Update</button> </td>
                <td><button class="tablebtnc">Delete</button> </td>

            </tr>
            {% endfor %}

        </table>
    <button align="center" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">New Portfolio</button>

    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/add_portfolio" method="POST">
        <div class="container">

            <hr>

            <label for="osym"><b>Buying Power</b></label>
            <input type="text" placeholder="Enter the Buying Power" name="buyp" required>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Submit</button>

                <hr>
            </div>
        </div>
    </form>
</div>
</body>
</html>