<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/csstyle.css') }}">
  <meta charset="utf-8">
  <div class="topnav">
    <a href="http://localhost:5000/index.html">Home</a>
    <a href="http://localhost:5000/investors">Investors</a>
    <a href="http://localhost:5000/portfolios">Portfolios</a>
    <a href="http://localhost:5000/etfs">ETFs</a>
    <a class="active" href="http://localhost:5000/stocks">Stocks</a>
    <a href="http://localhost:5000/orders">Orders</a>
</div>
<title>Stocks</title>
</head>
<body>

    <h1>Stocks</h1>
    

    <div class="ordert">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search by Stock Symbol">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <table>
            <thead>
                <tr>
    <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in stock_rows[0].keys() %}

    <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

        <!-- Now, iterate through every stock in stock_rows -->
        {% for stock in stock_rows %}
        <tr>
            <!-- Then iterate through every key in the current stock dictionary -->
            {% for key in stock.keys() %}

            <!-- Create a <td> element with the value of that key in it -->
                <td>{{stock[key]}} </td>
                {% endfor %}
                <td><button class="tablebtn">Update</button> </td>
                <td><button class="tablebtnc">Delete</button> </td>

            </tr>
            {% endfor %}

        </table>
    </div>
    <button align="center" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">New Stock</button>

    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/add_stock" method="POST">
        <div class="container">
          <hr>

          <label for="companyid"><b>Company ID</b></label>
          <input type="text" placeholder="Enter the Portfolio ID" name="companyid" required>

          <label for="stocksym"><b>Stock Symbol</b></label>
          <input type="text" placeholder="Enter the Stock SYM" name="stocksym" required>

          <label for="shareprice"><b>Share Price</b></label>
          <input type="text" placeholder="Enter the Stock SYM" name="shareprice" required>

          <label for="marketcap"><b>Market cap</b></label>
          <input type="text" placeholder="Enter the Stock SYM" name="marketcap" required>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Submit</button>
        </div>
    </div>
</form>

</div>

<script>
    var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
}
}
</script>
</body>
</html>


